.hero-img {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  height: 60vh;
  position: relative;
}
.hero-img::before {
  background-size: cover;
  content: "";
  /* background: url("https://images.unsplash.com/photo-1597239450996-ea7c2c564412?q=80&w=1887&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
   */
  /* background: url("https://images.unsplash.com/photo-1607798748738-b15c40d33d57?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"); */
 background: url("https://images.unsplash.com/photo-1685558593626-686907d7ee4b?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;
  
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.heading {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.hero-img h1 {
  font-size: 2.4rem;
}
.hero-img p {
  font-size: 1.4rem;
  text-align: center;
}
@media screen and (max-width: 640px) {
  .hero-img h1 {
    font-size: 2rem;
  }
}
